@using WebApplication2.Models
@model Employee

<h3>Employee Details</h3>

<div>
    Employee Id : @Model.EmpId <br/>
    Employee Name : @Model.EmpName <br/>
    Employee Job : @Model.Job <br/>
    Employee Salary : @Model.Salary <br/>
    Employee Deptno : @Model.Deptno <br/>
</div>

<hr/>
<a href="/Employee/Index">Back to List</a>